.form_radio {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.form_radio input[type=radio] {
    display: none;
}
.form_radio label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 0;
    line-height: 18px;
    user-select: none;
}
.form_radio label:before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    bottom: 10px;
     border: 1px solid var(--grey);
}
.radio-center label:before  {
    bottom: 3px;
}
.form_radio input[type=radio]:checked + label:before {
    background:var(--pink);
    border: 1px solid var(--pink);
}
.form_radio input[type=radio]:disabled + label {

    color: grey;
    cursor: not-allowed;
}