.thanks{
    background-color:  rgba(253, 163, 196, 0.55);
    height: 100vh;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    &__container{
        box-sizing: border-box;
        width: 600px;
        height: 600px;
        background-color: white;
        text-align: center;
        padding: 100px;
        position: relative;
        .thanks-close{
            width: 35px;
            position: absolute;
            right: 50px;
            top: 50px;
            
        }
        img{
            max-width: 400px;

        }
        .thanks-order{
            font-size: 18px;
            margin-top: 60px;
            text-transform: uppercase;
        }
        .thanks-msg{
            text-align: start;
            font-size: 14px;
            line-height: 17px;
            margin-bottom: 50px;
            span{
                color: var(--red);
            }
        }
    }
}