.favorite{
   
       
    
    .favorite-container{
        width: 80%;
        margin: auto;
        .favorite-items{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }

}