.order{
    margin-top: 50px;
    &__container{
        width: 80%;
        margin: auto;
        display: flex;
        .order-block{
            flex: 1;

            .step-img{
                width: 40%;
                img{
                    max-width: 200px;
                }
               
            }
            .step-info{
                width: 60%;
            
                .pink-link{
                    color: var(--pink);
                }
                .small-radio{
                    margin-top: 60px;
                    font-size: 14px;
                }
            }
            .step{
                display: flex;
                margin-bottom: 60px;
                .first-step-label{
                    display: block;
                    width:330px ;
                    height: 50px;
                    border: 2px solid #1F1F1F;
                    border-radius: 4px;
                    color: var(--pink);
                    input{
                       color: var(--pink);
                       outline: none;
                       border: none;
                       padding: 15px;
                      
                        
                    }
                    input::-webkit-input-placeholder {  color: var(--pink); }  
                }
                  .first-step-label:has(input:invalid[focused="true"] ){
                          
                    border:2px solid var(--red);
                  }
                .first-step-right{
                    display: flex;
                    gap: 10px;
                    flex-direction: column;
                    color: var(--pink);
                   
                    
                }
                .second-step-adress{
                    font-size: 14px;
                    margin-left: 25px;
                }
                .second-step-textarea{
                    width: 330px;
                    padding: 10px;
                    

                }
                .second-step-textarea::-webkit-input-placeholder {  color: var(--pink); }
            }
            .order-btn{
                width: 50%;
                margin-left: 27%;
            }
        }
        .order-cart-block{
            flex: 1;
          .order-cart-subtotal{
            display: flex;
            flex-direction:column;
            width: 60%;
            margin-left: 50px;
            color: var(--pink);
            p{
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            &__price{
                font-weight: 700;
                
            }
          }
          .order-cart-total{
            font-size: 25px;       
            margin: 40px 0 0 50px ;
            span{
                font-weight: 700;
            }
          }
        }
    }
    .uncorrect{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        border: 1px solid var(--red);
        margin-bottom: 10px;
    }
    .hidden{
        display: none;
    }
}

@media (max-width:460px) {
    .order{
        margin-top: 50px;

        &__container{
            width: 100%;
            display: flex;
            flex-direction: column-reverse;
            
            
            .order-block{
                flex: 1;
    
                .step-img{
                    width: 40%;
                    margin: auto;                
                }
                .step-info{
                    width: 100%;
                    margin: auto;
                
                    .pink-link{
                        color: var(--pink);
                    }
                    .small-radio{
                        margin-top: 60px;
                        font-size: 14px;
                    }
                }
                .step{
                    flex-direction: column;
                    .first-step-label{
                        display: block;
                        width:330px ;
                        height: 50px;
                        border: 2px solid #1F1F1F;
                        border-radius: 4px;
                        color: var(--pink);
                        margin: auto;
                        input{
                           color: var(--pink);
                           outline: none;
                           border: none;
                           padding: 15px;
                          
                            
                        }
                        input::-webkit-input-placeholder {  color: var(--pink); }  
                    }
                      .first-step-label:has(input:invalid[focused="true"] ){
                              
                        border:2px solid var(--red);
                      }
                    .first-step-right{
                        display: flex;
                        gap: 10px;
                        flex-direction: column;
                        color: var(--pink);
                       
                        
                    }
                    .second-step-adress{
                        font-size: 14px;
                        margin-left: 25px;
                    }
                    .second-step-textarea{
                        width: 330px;
                        padding: 10px;
                        
    
                    }
                    .second-step-textarea::-webkit-input-placeholder {  color: var(--pink); }
                }
                .order-btn{
                    width: 50%;
                    margin-left: 30%;
                }
            }
            .order-cart-block{
                margin-bottom: 50px;
              .order-cart-total{   
                margin: 40px 0 0 10px ;

              }
            }
        }
    }
    
}