.products{
    .products__container{
        width: 80%;
        margin: auto;
        .products-header-img{
            max-width: 500px;
        }
        .products-list{
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }
}
@media(max-width:440px){
    .products{
        .products__container{
            width: 100% !important;
            .products-header-img{
                max-width: 80%;
            }
        }
    }
}