.filter{
    .filter-neader{
font-size: 20px;
    }
    .filter-category{
       &__list{
           padding: 0;
           .category-item{
               margin-bottom: 10px;
           }
           .choozen{
               a{
                  color: var(--pink); 
               }
               
               font-weight: 700;
           }
       }
    
    }
    .filter-price{
        display: flex;
        flex-direction: column;
        gap: 15px;
        .filter-price-item{
            display: flex;
            gap: 6px;
        }

        ////
      
        /////
    }
}