.navbar{

    margin-top: 20px;
}
.menu_links{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.menu_link-item{
font-weight: 600;
font-size: 16px;
text-transform: capitalize;
}