.popular-block{
    max-width: 1100px;
    margin: auto;
    display: flex;
    margin-top: 20px;
    gap: 15px;
    .popular-right{
        flex: 1;
        margin-top: 20%;
    }
    .popular-center{
        flex:2;
        margin-top: 10%;
        .popular-center_img{
            width: 466px;
        }
    }
}
.popular-all{
    width: 150px;
    margin: auto;
    .popular-all_img{
        width: 122px;
        height: 27px;
        position: relative;

    }
    .popular-all_text{
        font-family: var(--font-cursive);
        position: absolute;
        font-size: 14px;
        font-weight: 400;
        right: 48%;
        color:#ffffff;
        cursor: pointer;
    }
}