.breadcrumps{
    display: flex;
    // width: 30%;
   gap: 0;
   margin: 7px 0  0 0;
    height: 10px;

  .breadcrump-item{
  
      display: flex;
      align-items: center;
      gap: 8px;
  }
}
.breadcrumb-not-active {
    color: var(--black);
   
    }
    
    .breadcrumb-active {
        color: var(--pink);
    }
    .breadcrump-arrow{
        width: 10px;
        height: 8px;
        margin-left: 2px;
    }
    
    