.header-mobile{
    display: none;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 12px;
    font-weight: 700;
    
}
.header_left-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 14px;
}
.header_block{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.header-icon{
    width: 18px;
    margin-right: 10px;
    height: 21px;
}
.pink{
    color: var(--pink)
}
.header-logo_img{
    width: 160px;
}
.header_right-block{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
   .header-btns{
       display: flex;
       gap: 15px;
       &__cart{
           position: relative;
           cursor: pointer;
           
           span{
               position: absolute;
               display: flex;
               align-items: center;
               justify-content: center;
               background-color: var(--pink);
               border-radius: 50%;
               height: 13px;
               width: 13px;
               top: -6px;
               right: 3px;
               padding: 1px;
           }
       }
   }
}

.mobileMenu{
    display: flex;
    .mobileMenu-logo{
        flex: 1;
    }
    .mobileMenu-right{
        flex: 1;
        display: flex;
        align-items: center;
        .end{
            position: relative;
            right: -25px;
        }
    }
}
@media (max-width: 600px){
    .header-desktop{
        display: none;
    }
    .header-mobile{
        display: block;
    }
}
