.categoryheader-container{
    display: flex;
    margin-top: 10px;
    .categoryheader-left{
        width: 40%;
    }
    .categoryheader-right{
        width: 60%;
        .categoryheader-right_img{
            max-width: 800px;
            object-fit: cover;
        }
    }
}
@media(max-width:950px){
    .categoryheader-container{
        .categoryheader-right{
            .categoryheader-right_img{
                max-width: 100%;
                object-fit: cover;
                height: 100px;
            }
        }
    }  
}