

:root{
  --font-montserrat:'Montserrat', sans-serif;
  --font-roboto:'Roboto', sans-serif;
  --font-cursive: 'Rubik Spray Paint', cursive;
  --pink:#FDA3C4;
  --red:#F40000;
  --black:#1F1F1F;
  --light-pink:#FFE6EF;
  --white:#FFE6EF;
  --grey:#909090;
}
*{
  font-family: var(--font-montserrat);
  list-style: none;
}





