.instagram{
    .instagram-block{
        display: flex;
        max-width: 1110px;
        margin: auto;
        gap: 6px;
        .instagram-block-item{
            flex: 1;
            max-width: 390px;
            height: 370px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .instagram-block-item_icon{
                width: 350px;
            }
           
            .instagram-block-item_btm {
                display: flex;
                position: relative;
                gap: 6px;
                .instagram-inst1{
                    width: 205px;
                    height: 205px;
                }
                .instagram-inst2{
                    width: 168px;
                    height: 168px;
                    position: absolute;
                    bottom: 0;
                    right: 0;

                }
            }
            .instagram-inst3{
                width: 370px;
                height: 370px;
            }
            .instagram-block-item_textend{
                margin-left: 0;
            }
            .instagram-block-item_right{
                position: relative;
            }
            .instagram-inst4{
                width: 168px;
                height: 168px;
                position: absolute;
            }
            .instagram-inst5{
                width: 205px;
                height: 205px;
                margin-left: 170px;
            }
        }
    }
}